.card-product {
  width: 250px;
  box-shadow: 5px 5px 25px rgb(184, 183, 183);

  .image {
    width: 200px !important;
    height: 160px !important;
    margin-left: 25px;
  }

  .info-product {
    margin-left: 15px;

    h5 {
      margin-bottom: 22px;
    }

    p {
      margin-top: -12px;
    }

    .nameCard {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .chipCard {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .btn-view {
    text-align: center;
  }
}
