.buyContainer {
  width: 100%;
  padding-bottom: 50px;

  .content {
    width: 60%;
    margin: 0 auto;
    padding-top: 85px;
  }

  .fa-circle-minus, .fa-circle-plus {
    color: rgb(8, 30, 142);
  }

  .inp {
    width: 50px;
    height: 38px;
    margin-top: 5px;
  }

  .mx-2 {
    margin-top: -5px;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}