.navbar-container {
    padding: 20px 10px 10px;
    background-color: rgb(21, 44, 253);
    position: fixed;
    width: 100%;
}

.mainMenu {

    ul li {
        list-style-type: none;
        margin-left: 15px;
        font-weight: 600;
        color: azure;
    }

    ul li a {
        text-decoration: none;
        color: azure;
    }
}